In [52]:
import tensorflow as tf
import pandas as pd

from sklearn.model_selection import train_test_split,StratifiedKFold,cross_val_score,GridSearchCV

In [53]:
df = pd.read_csv('income_train.csv')

df = df.drop(columns='Unnamed: 0')

In [54]:
x=df.drop(['income_>50K'],axis=1)
y=df['income_>50K'].astype('int32')

In [55]:
x

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country
0,0.744444,0.375,0.245857,0.666667,1.0000,0.000000,0.214286,0.2,1.0,1.0,1.0,0.0,0.606061,0.926829
1,0.188889,0.375,0.164118,0.133333,0.5000,0.666667,0.500000,0.6,1.0,1.0,0.0,0.0,0.151515,0.926829
2,0.344444,0.375,0.116882,0.600000,0.8125,0.333333,0.214286,0.0,1.0,1.0,0.0,0.0,0.404040,0.926829
3,0.644444,0.750,0.073939,0.333333,0.2500,0.333333,0.928571,0.0,1.0,1.0,0.0,0.0,0.404040,0.926829
4,0.277778,0.750,0.100140,1.000000,0.6250,0.666667,0.500000,0.2,0.5,1.0,0.0,0.0,0.404040,0.926829
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43952,0.577778,0.375,0.046284,0.600000,0.8125,0.333333,0.214286,0.0,1.0,1.0,0.0,0.0,0.505051,0.926829
43953,0.211111,0.375,0.078209,0.733333,0.5625,0.666667,0.500000,0.6,1.0,0.0,0.0,0.0,0.404040,0.926829
43954,0.333333,0.375,0.132815,1.000000,0.6250,0.000000,0.785714,0.2,1.0,1.0,0.0,0.0,0.585859,0.926829
43955,0.511111,0.375,0.065676,0.600000,0.8125,0.666667,0.785714,0.2,1.0,0.0,0.0,0.0,0.353535,0.926829
43956,0.333333,0.375,0.252165,0.733333,0.5625,0.666667,0.357143,0.4,1.0,1.0,0.0,0.0,0.404040,0.926829

In [56]:

x_train, x_test, y_train, y_test = train_test_split(x,
                                                    y,
                                                    test_size = 0.4)

In [57]:
x_train

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country
29183,0.377778,0.125,0.015191,0.733333,0.5625,0.666667,0.714286,0.2,0.00,1.0,0.00000,0.0,0.404040,0.926829
18230,0.255556,0.375,0.131849,1.000000,0.6250,0.666667,0.357143,0.6,0.50,0.0,0.00000,0.0,0.404040,0.926829
20146,0.277778,0.375,0.121990,0.066667,0.4375,0.333333,0.000000,0.6,1.00,0.0,0.00000,0.0,0.404040,0.926829
30974,0.577778,0.375,0.028800,0.133333,0.5000,0.333333,0.142857,0.0,1.00,1.0,0.00000,0.0,0.454545,0.926829
37296,0.388889,0.375,0.264139,1.000000,0.6250,0.666667,0.857143,0.4,1.00,0.0,0.00000,0.0,0.404040,0.926829
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26877,0.477778,0.375,0.103469,0.733333,0.5625,0.333333,0.500000,0.0,0.25,1.0,0.02829,0.0,0.606061,0.048780
18053,0.288889,0.500,0.257834,1.000000,0.6250,0.333333,0.214286,0.0,1.00,1.0,0.00000,0.0,0.606061,0.926829
16618,0.477778,0.000,0.175948,0.600000,0.8125,0.000000,0.214286,0.2,1.00,1.0,0.00000,0.0,0.404040,0.926829
12225,0.700000,0.375,0.121384,0.066667,0.4375,0.333333,0.714286,0.0,1.00,1.0,0.04386,0.0,0.373737,0.926829
5868,0.366667,0.500,0.097255,0.600000,0.8125,0.333333,0.785714,0.0,1.00,1.0,0.00000,0.0,0.656566,0.926829

In [58]:
y_train

29183    0
18230    0
20146    0
30974    0
37296    0
        ..
26877    0
18053    1
16618    1
12225    1
5868     0
Name: income_>50K, Length: 26374, dtype: int32

In [60]:

tf.random.set_seed(123)

# Create the model
model_mlp = tf.keras.Sequential([
  tf.keras.layers.Dense(14, activation="relu"),
  tf.keras.layers.Dense(14, activation="relu"),
  tf.keras.layers.Dense(1, activation="sigmoid")
])

# Compile the model with the ideal learning rate
model_mlp.compile(loss="binary_crossentropy",
                optimizer=tf.keras.optimizers.Adam(lr=0.01), # to adjust the learning rate, you need to use tf.keras.optimizers.Adam (not "adam")
                metrics=["accuracy"])

lr_scheduler = tf.keras.callbacks.LearningRateScheduler(lambda epoch: 1e-4 * 10**(epoch/20))

# Fit the model
final_fit = model_mlp.fit(x_train,
                                y_train,
                                epochs=10,
                                validation_data=(x_test, y_test)) # see how the model performs on the test set during training

Epoch 1/10

c:\Users\User\anaco\envs\pymix\lib\site-packages\keras\optimizers\optimizer_v2\adam.py:114: UserWarning: The `lr` argument is deprecated, use `learning_rate` instead.
  super().__init__(name, **kwargs)

825/825 [==============================] - 4s 4ms/step - loss: 0.4004 - accuracy: 0.8113 - val_loss: 0.3632 - val_accuracy: 0.8306
Epoch 2/10
825/825 [==============================] - 3s 3ms/step - loss: 0.3467 - accuracy: 0.8354 - val_loss: 0.3561 - val_accuracy: 0.8332
Epoch 3/10
825/825 [==============================] - 2s 3ms/step - loss: 0.3402 - accuracy: 0.8375 - val_loss: 0.3462 - val_accuracy: 0.8418
Epoch 4/10
825/825 [==============================] - 2s 3ms/step - loss: 0.3378 - accuracy: 0.8406 - val_loss: 0.3296 - val_accuracy: 0.8463
Epoch 5/10
825/825 [==============================] - 2s 3ms/step - loss: 0.3343 - accuracy: 0.8415 - val_loss: 0.3314 - val_accuracy: 0.8459
Epoch 6/10
825/825 [==============================] - 4s 4ms/step - loss: 0.3343 - accuracy: 0.8429 - val_loss: 0.3310 - val_accuracy: 0.8482
Epoch 7/10
825/825 [==============================] - 3s 3ms/step - loss: 0.3334 - accuracy: 0.8430 - val_loss: 0.3549 - val_accuracy: 0.8203
Epoch 8/10
825/825 [==============================] - 3s 3ms/step - loss: 0.3337 - accuracy: 0.8436 - val_loss: 0.3364 - val_accuracy: 0.8424
Epoch 9/10
825/825 [==============================] - 3s 3ms/step - loss: 0.3317 - accuracy: 0.8415 - val_loss: 0.3447 - val_accuracy: 0.8314
Epoch 10/10
825/825 [==============================] - 3s 3ms/step - loss: 0.3301 - accuracy: 0.8436 - val_loss: 0.3286 - val_accuracy: 0.8492

In [61]:
loss_acc = pd.DataFrame(final_fit.history)

loss_acc

       loss  accuracy  val_loss  val_accuracy
0  0.400403  0.811253  0.363165      0.830575
1  0.346659  0.835444  0.356145      0.833191
2  0.340226  0.837529  0.346219      0.841779
3  0.337755  0.840563  0.329631      0.846272
4  0.334334  0.841549  0.331365      0.845874
5  0.334252  0.842913  0.331038      0.848206
6  0.333446  0.843027  0.354899      0.820338
7  0.333693  0.843558  0.336387      0.842405
8  0.331661  0.841473  0.344733      0.831371
9  0.330087  0.843634  0.328612      0.849229

In [62]:
y_pred = model_mlp.predict(x_test)

y_pred

550/550 [==============================] - 1s 2ms/step

array([[0.34443182],
       [0.05806464],
       [0.01705044],
       ...,
       [0.00703545],
       [0.00809692],
       [0.6990853 ]], dtype=float32)

In [63]:
model_mlp.evaluate(x_test, y_test)

550/550 [==============================] - 1s 2ms/step - loss: 0.3286 - accuracy: 0.8492

[0.32861247658729553, 0.8492293953895569]

In [64]:
def binary_inference(input_list, threshold=0.8):
    probability_list = cost_sensitive_NN(input_list)
    return probability_list >= threshold