In [2]:
import xgboost as xgb


import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 


from sklearn.preprocessing import StandardScaler,LabelEncoder
from sklearn.model_selection import train_test_split,StratifiedKFold,cross_val_score,GridSearchCV

%matplotlib inline

c:\Users\User\anaco\envs\pymix\lib\site-packages\xgboost\compat.py:36: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import MultiIndex, Int64Index

In [19]:
# read in data
df_train = pd.read_csv('income_train.csv',index_col = 0)

df_train.head(5)

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income_>50K
0,0.744444,0.375,0.245857,0.666667,1.0000,0.000000,0.214286,0.2,1.0,1.0,1.0,0.0,0.606061,0.926829,1.0
1,0.188889,0.375,0.164118,0.133333,0.5000,0.666667,0.500000,0.6,1.0,1.0,0.0,0.0,0.151515,0.926829,0.0
2,0.344444,0.375,0.116882,0.600000,0.8125,0.333333,0.214286,0.0,1.0,1.0,0.0,0.0,0.404040,0.926829,1.0
3,0.644444,0.750,0.073939,0.333333,0.2500,0.333333,0.928571,0.0,1.0,1.0,0.0,0.0,0.404040,0.926829,0.0
4,0.277778,0.750,0.100140,1.000000,0.6250,0.666667,0.500000,0.2,0.5,1.0,0.0,0.0,0.404040,0.926829,0.0

:

In [9]:
from sklearn.model_selection import train_test_split 

x=df_train.drop(['income_>50K'],axis=1)
y=df_train['income_>50K']

x_train, x_test, y_train, y_test = train_test_split(x,
                                                    y,
                                                    test_size = 0.4,
                                                    random_state = 0) 
x_train

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country
4300,0.644444,0.375,0.140515,0.200000,0.1250,0.333333,0.500000,0.0,1.00,1.0,0.00000,0.0,0.383838,0.097561
28923,0.488889,0.375,0.069767,1.000000,0.6250,0.000000,0.642857,0.6,1.00,1.0,0.03325,0.0,0.353535,0.926829
23176,0.400000,0.375,0.067980,1.000000,0.6250,0.500000,0.642857,0.2,0.25,0.0,0.00000,0.0,0.404040,0.048780
1671,0.633333,0.375,0.091322,0.400000,0.3125,0.333333,0.142857,0.0,0.50,1.0,0.00000,0.0,0.404040,0.926829
30355,0.244444,0.375,0.103611,1.000000,0.6250,0.000000,0.785714,0.6,0.25,0.0,0.00000,0.0,0.303030,0.707317
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30403,0.477778,0.625,0.139277,0.666667,1.0000,0.333333,0.642857,0.0,1.00,1.0,0.00000,0.0,0.424242,0.926829
21243,0.577778,0.375,0.175090,0.000000,0.3750,1.000000,0.428571,0.8,0.50,0.0,0.00000,0.0,0.404040,0.926829
42613,0.555556,0.750,0.135207,0.733333,0.5625,0.000000,0.000000,0.6,1.00,0.0,0.00000,0.0,0.404040,0.926829
43567,0.433333,0.375,0.231309,1.000000,0.6250,0.333333,0.000000,0.6,0.50,0.0,0.00000,0.0,0.505051,0.926829
2732,0.377778,0.375,0.085894,0.800000,0.8750,0.000000,0.214286,0.2,1.00,0.0,0.02202,0.0,0.404040,0.926829

In [10]:
df_train.to_csv('income_train.csv')

In [1]:
# import XGBClassifier
from xgboost import XGBClassifier


# declare parameters
params = {
            'objective':'binary:logistic',
            'max_depth': 4,
            'alpha': 10,
            'learning_rate': 1.0,
            'n_estimators':100
        }         
           
          
# instantiate the classifier 
xgb_clf = XGBClassifier(**params)


# fit the classifier to the training data
xgb_clf.fit(x_train,y_train)

c:\Users\User\anaco\envs\pymix\lib\site-packages\xgboost\compat.py:36: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import MultiIndex, Int64Index

NameError: name 'x_train' is not defined

In [12]:
# make predictions on test data

y_pred = xgb_clf.predict(x_test)

In [13]:
from sklearn.metrics import accuracy_score

print('XGBoost model accuracy score: {0:0.4f}'. format(accuracy_score(y_pred, y_test)))

XGBoost model accuracy score: 0.8680

In [14]:
from sklearn.metrics import classification_report
print(classification_report(y_pred,y_test))

              precision    recall  f1-score   support

         0.0       0.93      0.90      0.92     14006
         1.0       0.65      0.76      0.70      3577

    accuracy                           0.87     17583
   macro avg       0.79      0.83      0.81     17583
weighted avg       0.88      0.87      0.87     17583